html {
    font-size: 16px;
}

@media only screen and (min-width:768px) {
    body {
        font-size: 18px;
    }
}

@media only screen and (min-width:1024px) {
    body {
        font-size: 19px;
    }
}

@media only screen and (min-width:1280px) {
    body {
        font-size: 20px;
    }

}

.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('images/cover/cover-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('images/cover/cover-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('images/cover/cover-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}